<h1>Add Patient</h1>
<form class="add_patient" ng-submit="submitPatient(patient)">
    First Name<input type="text" value="" ng-model="patient.firstname" required>
    <br> Last Name<input type="text" value="" ng-model="patient.lastname" required>
    <br> email
    <input type="email" value="" ng-model="patient.email" required>
    <br> Phone #<input type="tel" value="" ng-model="patient.phone_num" required>
    <br> Date of Birth<input type="date" value="" ng-model="patient.dob" required>
    <br> Gender
    <select name="gender" id="genderSelector" ng-model="patient.gender" required>
        <option value="select" selected disabled>Select a Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br>
    <input type="submit" value="Add Patient"><input type="reset">
</form>