<form name="changepassword" ng-submit="changePassword(user)" novalidate>
    <div id="name-group" class="form-group-lg">
        <input type="text" ng-required="true" name="username" ng-model="user.username" ng-minlength="6" class="form-control" placeholder="User Name">
    </div>
    <div id="name-group" class="form-group-lg">
        <input type="password" ng-required="true" ng-model="user.password" name="password" ng-minlength="5" class="form-control " placeholder="Password at least 6 character">
    </div>
    <div id="name-group" class="form-group-lg">
        <button type="submit" ng-disabled="!changepassword.$valid" class="form-control btn btn-info">Update Password</button>
    </div>
</form>