<form name="changeusername" ng-submit="changeUsername(user)" novalidate>
    <div id="name-group" class="form-group-lg">
        <input type="email" ng-required="true" name="email" ng-model="user.email" class="form-control" placeholder="Email">
    </div>
    <div id="name-group" class="form-group-lg">
        <input type="text" ng-required="true" name="username" ng-model="user.username" ng-minlength="6" class="form-control" placeholder="User Name">
    </div>
    <div id="name-group" class="form-group-lg">
        <button type="submit" ng-disabled="!changeusername.$valid" class="form-control btn btn-info">Update Username</button>
    </div>
</form>