<section class="ContactBackground">
    <div class="medical-contact">
        <img class="medical-contact-pic" src="./img/contact-medical.png" alt="contact">
    </div>
    <section class="contactbox">
        <h1 class="ContactText">Contact Info</h1>
        <img class="me" src="./img/me.jpg" alt="Steen G. Sargent">
        <div class="links">
            <a class="fa fa-twitter" href="https://twitter.com/SteenSargent"></a>
            <a class="fa fa-github" href="https://github.com/sargent88"></a>
            <a class="fa fa-linkedin" href="https://www.linkedin.com/in/steen-sargent-43488341/"></a>
            <a class="fa fa-code" href="https://www.codecademy.com/sargent88"></a>
            <a class="fa fa-facebook" href="https://www.facebook.com/steen.sargent"></a>
            <a class="fa fa-google" href="mailto:steen.sargent@gmail.com"></a>
        </div>
    </section>
</section>