<h1 ng-model="selectedArray">Data Tabel</h1>
<div class="table">
    <button id="filterToggle" type="button" class="btn btn-success" ng-click="toggleFilterRow()">Toggle Filter</button>
    <button type="button" id="addData" class="btn btn-success" ng-click="addPatient()">Add Patient</button>
    <button type="button" id="addData" class="btn btn-success" ng-click="addVisit(selectedArray)">Add Visit</button>
    <button type="button" id="removeFirstRow" class="btn btn-success" ng-click="removePatient(selectedArray)">Remove Row</button>
    <br>
    <br>
    <strong>Rows</strong>
    <br>
    <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns ui-grid-exporter ui-grid-grouping ui-grid-expandable ui-grid-infinite-scroll class="grid"></div>
</div>