$primaryColor: rgb(64, 108, 143);
$textColor: white;
$backgroundColor: #F4F1EA;
$fontText: Palatino,
"Palatino Linotype",
"Palatino LT STD",
"Book Antiqua",
Georgia,
serif;
.SMD {
    font-family: $fontText;
}

.table {
    padding-left: 10vw;
    padding-top: 2vh;
}

#grid1 {
    width: 80vw;
    height: 70vh;
}

.site-header {
    height: 14vh;
    width: 100%;
    background-color: $primaryColor;
    color: $textColor;
}

.site-main {
    background: $backgroundColor;
    height: 80vh;
    width: 100%;
}

.site-footer {
    background: $backgroundColor;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.home {
    width: 55vw;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-login {
    padding-right: 5vw;
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.weather {
    font-family: $fontText;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    font-size: 84px;
}

.data {
    text-decoration: none;
    font-family: $fontText;
    color: $textColor;
    font-size: 24px;
}

.users {
    text-decoration: none;
    font-family: $fontText;
    color: $textColor;
    font-size: 24px;
}

.contact {
    text-decoration: none;
    font-family: $fontText;
    color: black;
    font-size: 18px;
}

.logo {
    cursor: pointer;
    height: 14vh;
    width: auto;
}

.get-in {
    background-color: $backgroundColor;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: $fontText;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.get-out {
    background-color: $backgroundColor;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: $fontText;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.get-in:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.get-out:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.ContactBackground {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}

.medical-contact {
    padding-left: 7vw;
}

.medical-contact-pic {
    height: 45vh;
    width: auto;
    box-shadow: 8px 8px 10px #aaa;
}

.contactbox {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 20vw;
}

.ContactText {
    display: flex;
    font-family: $fontText;
    font-size: 36px;
    height: 8vh;
    width: 22vw;
    justify-content: center;
    align-items: center;
}

.me {
    display: block;
    margin: 2em auto;
    margin-bottom: 3em;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.fa {
    padding: 8px;
    // font-size: 45px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: white;
    color: rgb(36, 41, 46);
}

.fa-linkedin {
    background: rgb(0, 119, 181);
    color: white;
}

.fa-code {
    background: white;
    color: rgb(31, 64, 86);
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: rgb(234, 67, 53);
    color: white;
}

.home-moto {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    justify-content: center;
}

.moto {
    font-family: $fontText;
    // padding-right: 10vw;
    font-size: 36px;
    display: flex;
    height: 50vh;
    width: 30vw;
    flex-wrap: wrap;
}

.keyboard {
    padding-left: 5vw;
}

.keyboard-pic {
    box-shadow: 8px 8px 10px #aaa;
    width: 52vw;
    height: auto;
}